# Importing Relevant Libraries

In [117]:
import numpy as np #for array operations
import pandas as pd #to create and querry dataframes

from urllib.request import urlopen as uReq #to open the url from which the data is to be extracted
from bs4 import BeautifulSoup #to get the html structure of websites and work with it, extract informations from it, etc.

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
print('Libraries installed')

Solving environment: done

# All requested packages already installed.

Libraries installed

# Extracting the Required Data and Importing Same
The following code defines the basic functions for reading the url and extracting the HTML from it.

In [125]:
# The code was removed by Watson Studio for sharing.

       0             1                                                  2
169  M5Z  Not assigned                                                  0
170  M6Z  Not assigned                                                  0
171  M7Z  Not assigned                                                  0
172  M8Z     Etobicoke  (Mimico NW / The Queensway West / South of Blo...
173  M9Z  Not assigned                                                  0

# Data Cleansing
### Adding Column Headers

In [126]:
Columns = ['PostalCode', 'Borough', 'Neighborhood'] #Defining an empty list of headers
df_data_0.columns = Columns
df_data_0.head()

  PostalCode           Borough                         Neighborhood
0        M3A        North York                          (Parkwoods)
1        M4A        North York                   (Victoria Village)
2        M5A  Downtown Toronto         (Regent Park , Harbourfront)
3        M6A        North York  (Lawrence Manor , Lawrence Heights)
4        M7A      Queen's Park      / Ontario Provincial Government

### Dropping Postcodes without Borough

In [127]:
df=df_data_0 #just for the ease of typing. df is easier to type
indexNames =df[ df['Borough'] == 'Not assigned'].index
df.drop(indexNames, axis=0, inplace=True) #To drop boroughs with 'Not assigned' as value as their values.
df = df.reset_index(drop=True) #To reset indices after dropping rows

df.tail() #To confirm that empty Boroughs are dropped.

,PostalCode,Borough,Neighborhood
98,M8X,Etobicoke,(The Kingsway / Montgomery Road / Old Mill North)
99,M4Y,Downtown Toronto,(Church and Wellesley)
100,M7Y,East Toronto,Church and Wellesley)
101,M8Y,Etobicoke,(Old Mill South / King's Mill Park / Sunnylea ...
102,M8Z,Etobicoke,(Mimico NW / The Queensway West / South of Blo...

### Ensuring all Three Columns have String Values

In [128]:
df['PostalCode']=df['PostalCode'].astype(str) 
df['Borough']=df['Borough'].astype(str) 
df['Neighborhood']=df['Neighborhood'].astype(str) 
df.head()

  PostalCode           Borough                         Neighborhood
0        M3A        North York                          (Parkwoods)
1        M4A        North York                   (Victoria Village)
2        M5A  Downtown Toronto         (Regent Park , Harbourfront)
3        M6A        North York  (Lawrence Manor , Lawrence Heights)
4        M7A      Queen's Park      / Ontario Provincial Government

In [129]:
df.shape[0]

103

# Getting the Longitude and Latitudes of the Post Codes

### Adding more columns

In [130]:
#Adding additional columns
df[3]=0
df[4]=0
#df
Columns = ['PostalCode', 'Borough', 'Neighborhood', 'Latitude', 'Longitude'] #Defining an empty list of new headers
df.columns = Columns
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,(Parkwoods),0,0
1,M4A,North York,(Victoria Village),0,0
2,M5A,Downtown Toronto,"(Regent Park , Harbourfront)",0,0
3,M6A,North York,"(Lawrence Manor , Lawrence Heights)",0,0
4,M7A,Queen's Park,/ Ontario Provincial Government,0,0

 ##### NB: Zeros '0' have been assigned to the Longitude and Latitude values of the above table as dummy values

## Getting the Longitude and Latitudes of each postcode in the table and replacing the zeros with them in the table

In [131]:
rows_count=df.index
rows_count

RangeIndex(start=0, stop=103, step=1)

In [139]:

for i in range(15): # To populate first 15 rows of new table
    x=df.loc[i,'Borough']
    y=df.loc[i, 'Neighborhood']
    a=df.loc[i,'PostalCode']
    address = a, x, y, "CA"
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode('address')
    latitude_ = location.latitude
    longitude_ = location.longitude

    df["Latitude"].replace({0: latitude_}, inplace=True)
    df["Longitude"].replace({0: longitude_}, inplace=True)
    
df.head(10) #Shows first 10 rows of the the Table

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,(Parkwoods),-37.902572,144.75778
1,M4A,North York,(Victoria Village),-37.902572,144.75778
2,M5A,Downtown Toronto,"(Regent Park , Harbourfront)",-37.902572,144.75778
3,M6A,North York,"(Lawrence Manor , Lawrence Heights)",-37.902572,144.75778
4,M7A,Queen's Park,/ Ontario Provincial Government,-37.902572,144.75778
5,M9A,Etobicoke,(Islington Avenue),-37.902572,144.75778
6,M1B,Scarborough,(Malvern / Rouge),-37.902572,144.75778
7,M3B,North York,"(Don Mills), North",-37.902572,144.75778
8,M4B,East York,(Parkview Hill / Woodbine Gardens),-37.902572,144.75778
9,M5B,Downtown Toronto,"(Garden District, Ryerson)",-37.902572,144.75778